
Project1/x64/Debug/IMDGetter.obj
Project1/x64/Debug/main.obj
Project1/x64/Debug/Project1.exe
Project1/x64/Debug/Project1.exe.recipe
Project1/x64/Debug/Project1.ilk
Project1/x64/Debug/Project1.log
Project1/x64/Debug/Project1.pdb
Project1/x64/Debug/Project1.tlog/CL.command.1.tlog
Project1/x64/Debug/Project1.tlog/CL.read.1.tlog
Project1/x64/Debug/Project1.tlog/CL.write.1.tlog
Project1/x64/Debug/Project1.tlog/link.command.1.tlog
Project1/x64/Debug/Project1.tlog/link.read.1.tlog
Project1/x64/Debug/Project1.tlog/link.write.1.tlog
Project1/x64/Debug/Project1.tlog/Project1.lastbuildstate
Project1/x64/Debug/Project1.vcxproj.FileListAbsolute.txt
Project1/x64/Debug/vc143.idb
Project1/x64/Debug/vc143.pdb
Project1/Project1.vcxproj.user
Project1/Project1.vcxproj.filters
Project1/Project1.vcxproj
Project1/Project1.sln
Project1/.vs/Project1/v17/ipch/AutoPCH/adfd15439d128592/IMDGETTER.ipch
Project1/.vs/Project1/v17/ipch/AutoPCH/7999b211c5538c3e/MAIN.ipch
Project1/.vs/Project1/v17/Browse.VC.opendb
Project1/.vs/Project1/v17/Browse.VC.db-wal
Project1/.vs/Project1/v17/Browse.VC.db-shm
Project1/.vs/Project1/v17/Browse.VC.db
Project1/.vs/Project1/v17/.suo
Project1/.vs/Project1/FileContentIndex/read.lock
Project1/.vs/Project1/FileContentIndex/a7a30f0c-4964-48bc-b9b0-f763b6996255.vsidx
Project1/.vs/Project1/FileContentIndex/a2bc151d-f3e1-42e6-b709-be7a8bb0a620.vsidx
Project1/.vs/Project1/FileContentIndex/8807836d-7b05-4c6e-b4fb-d8b9e7851dd7.vsidx
Project1/.vs/Project1/FileContentIndex/6d1af5eb-9333-498d-99b4-ed3a170d7f94.vsidx
out/build/x64-Debug/VSInheritEnvironments.txt
out/build/x64-Debug/Testing/Temporary/LastTest.log
out/build/x64-Debug/Project3AMenu.pdb
out/build/x64-Debug/Project3AMenu.ilk
out/build/x64-Debug/Project3AMenu.exe
out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Debug/CMakeFiles/rules.ninja
out/build/x64-Debug/CMakeFiles/Project3AMenu.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/Project3AMenu.dir/manifest.res
out/build/x64-Debug/CMakeFiles/Project3AMenu.dir/manifest.rc
out/build/x64-Debug/CMakeFiles/Project3AMenu.dir/main.cpp.obj
out/build/x64-Debug/CMakeFiles/Project3AMenu.dir/intermediate.manifest
out/build/x64-Debug/CMakeFiles/Project3AMenu.dir/IMDGetter.cpp.obj
out/build/x64-Debug/CMakeFiles/Project3AMenu.dir/embed.manifest
out/build/x64-Debug/CMakeFiles/CMakeOutput.log
out/build/x64-Debug/CMakeFiles/cmake.check_cache
out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeSystem.cmake
out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.22.22040401-MSVC_2/CMakeCCompiler.cmake
out/build/x64-Debug/CMakeCache.txt
out/build/x64-Debug/cmake_install.cmake
out/build/x64-Debug/build.ninja
out/build/x64-Debug/.ninja_log
out/build/x64-Debug/.ninja_deps
out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-6ddc102c4cc920d4444a.json
out/build/x64-Debug/.cmake/api/v1/reply/target-Project3AMenu-Debug-8cf7e5162ebada3453e9.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2022-12-05T04-11-09-0952.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-83cf387d10eb00784579.json
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-fd660e9fd9d949c57559.json
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-8ef57de79ef02af12f45.json
out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
.vscode/tasks.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Project3-DSA-Fall2022-DaGetters/v17/ipch/AutoPCH/ab1664240dd686b2/IMDGETTER.ipch
.vs/Project3-DSA-Fall2022-DaGetters/v17/ipch/AutoPCH/739bdb8cce1bc19e/MAIN.ipch
.vs/Project3-DSA-Fall2022-DaGetters/v17/Browse.VC.db
.vs/Project3-DSA-Fall2022-DaGetters/v17/.suo
.vs/Project3-DSA-Fall2022-DaGetters/FileContentIndex/read.lock
.vs/Project3-DSA-Fall2022-DaGetters/FileContentIndex/6d2730ae-a839-4e09-99e3-31fd1eee8df6.vsidx
.vs/Project3-DSA-Fall2022-DaGetters/FileContentIndex/3d1c796a-c495-4914-97fd-a77d2c271a12.vsidx
.vs/Project3-DSA-Fall2022-DaGetters/config/applicationhost.config
.vs/CMakeWorkspaceSettings.json
